.article-body {
  width: 100%;
  height: auto;
}

.article-body-container {
  width: 85%;
  margin: 0 auto;
}

.article-title {
  padding-top: 2rem;
}

.article-body-right {
  background: #fff;
  padding: 2rem;
  box-shadow: 0 1px 7px -3px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
}

.article-content-banner img {
  width: 100%;
}

.article-content p {
  line-height: 2rem;
  text-align: justify;
  color: var(--gray);
  font-size: 1.1rem;
  font-weight: 100;
}

.article-body-right-author {
  background: #fff;
  padding: 1rem 2rem;
  box-shadow: 0 1px 7px -3px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin: 2rem 0;
}

.article-body-author-name {
  font-size: 1.3rem;
  padding-bottom: 10px;
}

.article-body-author-desc {
  color: var(--gray);
}

.article-body-author-left img {
  border-radius: 50%;
}

.article-comment-title {
  padding: 1rem 0 0 0;
}

.article-comment-subtitle {
  color: var(--gray);
}

.article-comment-text {
  width: 100%;
  border: 1px solid lightgray;
  padding: 0.8rem;
  outline: none;
}

.article-post-comment {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.article-comment-author {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.article-comment-name,
.article-comment-email {
  width: 50%;
  padding: 0.5rem;
  border: 1px solid lightgray;
  border-radius: 6px;
  outline: none;
}

.article-comment-policy {
  margin: 1rem 0;
}

.article-comment-policy label {
  color: var(--gray);
  margin-right: 0.3rem;
}

.send-comment-btn {
  border: 1px solid var(--yellow);
  background-color: #ffb02d;
  margin: 0 0 3rem 0;
  padding: 0.7rem;
  border-radius: 6px;
  color: var(--white);
  transition: all 400ms ease;
}

.send-comment-btn:hover {
  background-color: var(--white);
  border: 1px solid var(--yellow);
  color: var(--yellow);
}
.article-left-searchbar-container {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 1px 7px -3px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin: 2rem 0 1rem;
}

.article-left-category-container,
.article-left-courses-category-container {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 1px 7px -3px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin: 1rem 0;
}

.article-searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(182, 181, 181);
  padding: 0.5rem 0.8rem;
  border-radius: 6px;
}

.article-searchbar input {
  width: 100%;
  border: none;
  outline: none;
}

.article-searchbar i {
  padding-top: 6px;
  cursor: pointer;
}

.article-left-category-title {
  border-bottom: 1px solid lightgray;
  position: relative;
}

.article-left-category-title::before {
  width: 85px;
  height: 3px;
  background-color: #dcdcdc;
  position: absolute;
  bottom: -2px;
  right: 18px;
  z-index: 1;
  content: "";
}

.article-left-category-title::after {
  width: 13px;
  height: 3px;
  background-color: #ffb02d;
  position: absolute;
  bottom: -2px;
  right: 0;
  z-index: 1;
  content: "";
}

.article-left-category-container-list {
  list-style-type: none;
  padding-top: 0.7rem;
  margin: 0 !important;
  padding-left: 0 !important;
}

.article-left-category-container-item {
  border-bottom: 1px solid lightgray;
}

.article-left-category-link {
  padding: 10px 0 !important;
  margin-bottom: 0 !important;
  border-bottom: 1px solid rgb(222, 219, 219);
  color: var(--gray);
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.article-left-category-container :last-child, 
.article-left-courses-category-container :last-child { 
  border-bottom: none;
}
