body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#particles-js {
  width: 100%;
  height: 75vh;
  background-color: #070a24;
  margin-bottom: 7rem;
  position: relative;
}

.last-articles {
  width: 85%;
  height: 100%;
  margin: 0 auto;
}

.last-articles-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.last-articles-title {
  color: var(--white);
}

.particles-js-canvas-el {
  position: absolute;
  top: 0;
}

.blogSwiper {
  width: 100%;
  height: 55%;
  padding-top: 10px;
}

.blog-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 0.8rem;
  padding: 1rem;
  position: relative;
}

.blog-card-image img {
  width: 90%;
}

.blog-card-title {
  font-size: 18px;
  padding-top: 5px;
}

.blog-card-subtitle {
  font-size: 12px;
  color: gray;
}

.card-blog-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f7fb;
  padding: 0.7rem;
  border-radius: 10px;
  color: #5e5e5f;
}

.card-blog-tags span {
  margin-right: 13px;
  position: relative;
}

.card-blog-tags span::before {
  content: "";
  position: absolute;
  top: 0.5rem;
  right: -1rem;
  width: 0.7rem;
  height: 0.7rem;
  background-color: var(--yellow);
  border-radius: 50%;
}

.card-blog-time {
  display: flex;
  align-items: center;
}

.card-blog-time i {
  margin-left: 0.5rem;
  font-size: 1rem;
}

.card-blog-continue-link {
  text-decoration: none;
  color: var(--white);
  background-color: var(--yellow);
  padding: 0.5rem 2.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 400ms ease;
  border: 1px solid var(--yellow);
}

.card-blog-continue-link:hover {
    border: 1px solid var(--yellow);
    color: var(--yellow);
    background-color: var(--white);
}

.swiper-pagination {
    color: var(--white);
}